{% extends 'base.html.twig' %}

{% block title %}Keyboard Time!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <h1>Keyboard Time!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            {% if users is not empty %}
                <select name="user" id="users">
                    {% for aUser in users %}
                        <option value="{{ aUser.id }}" {{ user.id == aUser.id ? 'selected' : '' }}>{{ aUser.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <button type="button" class="btn btn-primary" id="new-user"><i class="fa fa-plus"></i></button>
        </div>
    </div>

    <br> <br>
    <div class="row" id="time-buttons" data-user="{{ user ? user.id }}">
        <div class="col text-center">
            {% if time is empty %}
                <button type="button" class="btn btn-primary" id="in">At Keyboard</button>
            {% else %}
                <button type="button" class="btn btn-primary" id="out" data-time="{{ time.id }}">Not At Keyboard</button>
            {% endif %}
        </div>
    </div>

    {% if user is not empty %}
        <br><br>
        <div class="row">
            <div class="col text-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for time in user.time %}
                        <tr id="time-{{ time.id }}">
                            <td class="day">{{ time.createdAt|date('m/d/Y') }}</td>
                            <td class="in">{{ time.timeIn|date('h:i:s a', 'America/New_York') }}</td>
                            <td class="out">{{ time.timeOut ? time.timeOut|date('h:i:s a', 'America/New_York') : '' }}</td>
                            <td class="total">{{ time.total ? time.totalPretty : '' }}</td>
                        </tr>
                    {% endfor %}

                        <tr style="display: none;" id="row-stub">
                            <td class="day"></td>
                            <td class="in"></td>
                            <td class="out"></td>
                            <td class="total"></td>
                        </tr>

                    </tbody>

                </table>


            </div>

        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/index.js') }}"></script>
{% endblock %}
